{% extends 'base_nav.html' %}
{% block title %}Applications List{% endblock title %}
{% block body %}
<div class="flex flex-row w-full mt-6">
    <h1 class="mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl mx-10">
        Welcome, {{user.first_name}} {{user.last_name}}, following are the all applide jobs,
    </h1>
</div>
<div class="flex flex-row border-solid border-2 border-gray-600 w-auto mx-10 p-3">
    <div class="w-full">
        <div class="relative overflow-x-auto">
            {% if applications %}
            <table id="dtable" class="display cell-border">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Applied On</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>
                            <a class="text-blue-500" href="{% url 'apply' application.job_id %}">{{application.job.title}}</a>
                        </td>
                        <td>
                            {{application.applied_on}}
                        </td>
                        <td>
                            {{application.status}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>Not applied for any jobs now...!</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}